.container {
  width: 100%;
  min-height: 100vh;
}

.contentContainer {
  max-width: 47rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImageContainer {
  transform: translatey(3rem);
  z-index: 1;
}

.headerImage {
  width: 7rem;
  height: 7rem;
  transition: all 0.2s ease-in-out;
}

.headerImage:hover {
  /* TODO clip path? */
  /* box-shadow: 0 0 4px 1px var(--color-theme); */
}

.headerHomeImage {
  transform: translatey(3rem);
  z-index: 1;
  width: 7rem;
  height: 7rem;
}

.backToHome {
  padding: 3rem 0;
}

.contentBackground {
  background-color: var(--color-secondary);
  box-shadow: 0 0 16px 4px var(--color-primary);
  padding: 2rem 1rem;
}
