.topic {
  background-color: var(--color-tertiary);
  padding: 2px 8px 3px 8px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 12px;
  margin-right: 12px;
  display: inline-block;
  margin-bottom: 16px;
}
